.navigation-bar{
    position: relative;
    margin: auto;
    width:95%;
    height: 10vh;
    border: 4px solid black;
    background-color: #28282b;
    min-width: 1800px;
}

.a-group{
    margin: 20px;
    max-width: 1000px;
    display: flex;
    justify-content: left;
}
.a-group a{
    margin: 15px;
    text-decoration: none;
    background-color: #1c1d24;
    color: #6699cc;
    border: 3px solid black;
    border-top: 3px solid #575e66;
    border-left: 3px solid #575e66;
    padding: 5px;
    width: 85px;
    text-align: center;
}
.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;    
}

.form-container{
    width:95%;
    
    object-fit:cover;
    border: 4px solid black;
    background-color: #28282b;
    margin:auto;
    margin-top: 50px;
    min-width: 1800px;
    min-height: 1300px;
    padding-top: 50px;
}

.page-content{
    position: relative;
    
    position:inherit;
    margin: 0 auto;
}
.dj-list{
    border-collapse: collapse;
    min-width: 600px;
    min-height: 600px;
}
.dj-list th, .dj-list td{
    padding: 10px;
    border: 2px solid black;
    
}
.dj-list th{
    color: #6699cc;
    background-color: #1c1d24;
}
.dj-list tr:nth-child(even){
    color: whitesmoke;
    background-color: #72808a;
}
.dj-list tr:nth-child(odd){
    color: whitesmoke;
    background-color: #575e66;
}


.dj-playlist{
    border-collapse: collapse;
    width: 800px;
    height: 300px;
}
.dj-playlist th, .dj-playlist td{
    padding:10px;
    border: 2px solid black;
}
.dj-playlist th{
    background-color: #1c1d24;
}
.dj-playlist tr:nth-child(even){
    background-color: #72808a;
}
.dj-playlist tr:nth-child(odd){
    background-color: #575e66;
}

.music-search{
    border-collapse: collapse;
    width: 800px;
}
.music-search th, .music-search td{
    padding: 10px;
    border: 2px solid black;

}
.music-search th{
    background-color: #1c1d24;
}

.Container-DJs{
    padding-right: 200px;
    padding-top: 50px;
}
.Container-Playlists{
    padding-top:82px;
}
.Container-Search{
    padding-top: 50px;
}
.footer-extras{    
    text-align: center; 
    margin: auto;
    margin-left: 200px;
    height: 400px;
    border-collapse: collapse;
}

.footer-extras th
{
    font-size: larger;
    padding: 100px;
}
.footer-support-link{
    padding-left:200px;
    margin-bottom: 25px;
}
.footer-support-link td{
    padding: 35px;
}
.footer-connect td{
    padding-left: 0;
}
.connect-logo {
    width: 50px;
}

.footer-line{
    width: 1600px;
    margin-top: 200px;
    border: 1px solid #72898f;
}
.search-bar{
    background-color: #72898f;
    width: 375px;
}

.button{
    background-color: #1c1d24;
    color: #6699cc;
    width: 60px;
    height: 25px;
}

.selected-row{
    background-color: blue;
    color: white;
}